/Algoritm 2/_ReSharper.Algoritm 2
/Algoritm 2/_ReSharper.bestCompil
/Algoritm 2/_ReSharper.Help1
/Algoritm 2/_UpgradeReport_Files

/Releases/Unpacked
/AlgBuild/_ReSharper.AlgBuild
/Releases/Publish

/Releases/Exes

/Releases/AlgBuildProject/bin
/Releases/AlgBuildProject/_ReSharper.AlgBuild

/Releases/AlgBuildProject/obj
/Releases/Installs/CustomAlgorithmFreeRu.exe
/Releases/Unpacked/HttpEn/Data/Help
/Algoritm 2/Slot/bin/Debug/Algoritm 2.xml
/Algoritm 2/Slot/bin/Debug/Algoritm 2.application
/Algoritm 2/Slot/bin/Debug/Algoritm 2.exe
/Algoritm 2/Slot/bin/Debug/Algoritm 2.pdb
/Algoritm 2/Slot/bin/Debug/Algoritm 2.vshost.application
/Algoritm 2/Slot/bin/Debug/Algoritm 2.vshost.exe.manifest
/Algoritm 2/Slot/bin/Debug/Algoritm 2.exe.manifest
/Algoritm 2/Slot/obj
