/Algoritm 2/_ReSharper.Algoritm 2
/Algoritm 2/_ReSharper.bestCompil
/Algoritm 2/_ReSharper.Help1
/Algoritm 2/_UpgradeReport_Files

/Releases/Unpacked
/AlgBuild/_ReSharper.AlgBuild
/Releases/Publish

/Releases/Exes

/Releases/Installs/AlgorithmFreeEn.exe
/Releases/Installs/AlgorithmFreeRu.exe
/Releases/Installs/AlgorithmFullEn.exe
/Releases/Installs/AlgorithmFullRu.exe
/Releases/AlgBuildProject/bin
/Releases/AlgBuildProject/_ReSharper.AlgBuild

/Releases/AlgBuildProject/obj
/Releases/Installs/CustomAlgorithmFreeRu.exe
/Releases/Unpacked/HttpEn/Data/Help
